# Copyright 2026 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

name: CQ

on:
  push:
    branches:
      - "main"
      - "v*.*.x"
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - "main"
      - "v*.*.x"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.25.5
      - run: go install github.com/google/addlicense@dc31ac9ffcca99c9457226366135701794b128c0  # v1.1.1
      - run: addlicense -f LICENSE.header -check .github helpers server shared src tools views
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - run: npm ci
      - run: npm run lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '22'
      - uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2  # v5.0.0
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - run: npm ci
      - run: npm run cq-test

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '22'
      - uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2  # v5.0.0
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - run: npm ci
      - run: npx vsce package $(node tools/release_flag.js)
      - uses: actions/upload-artifact@v6
        with:
          name: vsix
          path: cros-ide-*.vsix

  attestation:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
    needs:
      - build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v7
        with:
          path: artifacts
          merge-multiple: true
      - uses: actions/attest-build-provenance@v3
        with:
          subject-path: artifacts/*
        if: github.event_name == 'push'

  upload-release-artifacts:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs:
      - attestation
      - test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v7
        with:
          path: artifacts
          merge-multiple: true
      - run: ls -lR .
        working-directory: artifacts
      - run: gh release upload "${{ github.ref_name }}" artifacts/*
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: startsWith(github.ref, 'refs/tags/v')

  publish-to-marketplaces:
    runs-on: ubuntu-latest
    needs:
      - upload-release-artifacts
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: true
      - run: ls -lR .
        working-directory: artifacts
      - run: npm ci
        if: startsWith(github.ref, 'refs/tags/v')
      - run: npx -y vsce publish --pat ${{ secrets.VSCE_PAT }} $(node tools/release_flag.js) --packagePath artifacts/*.vsix
        if: startsWith(github.ref, 'refs/tags/v')
      - run: npx -y ovsx publish --pat ${{ secrets.OVSX_PAT }} $(node tools/release_flag.js) --packagePath artifacts/*.vsix
        if: startsWith(github.ref, 'refs/tags/v')
